<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,326},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>advBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,250},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>advIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,972},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>advIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,841},{80,84}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{80,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,40},{194,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,34}}</string>
                <key>sourceSize</key>
                <string>{194,34}</string>
            </dict>
            <key>bar1Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{196,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,36}}</string>
                <key>sourceSize</key>
                <string>{196,36}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,326},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,526},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button10.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,126},{226,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,122}}</string>
                <key>sourceSize</key>
                <string>{226,122}</string>
            </dict>
            <key>button11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{226,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,122}}</string>
                <key>sourceSize</key>
                <string>{226,122}</string>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,477},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,451},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,402},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button5.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,376},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button6.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,301},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button7.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,226},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button8.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,151},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button9.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,76},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>camera.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,552},{98,60}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{98,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>closeBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,513},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>common icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>common icon_golds.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,491},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>common icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,552},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>contentBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,739},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{123,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,95}}</string>
                <key>sourceSize</key>
                <string>{123,95}</string>
            </dict>
            <key>floorIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,552},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,491},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gouBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,972},{43,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{43,43}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,625},{112,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,98}}</string>
                <key>sourceSize</key>
                <string>{112,98}</string>
            </dict>
            <key>levelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,451},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>levelBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>magnetic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{107,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,112}}</string>
                <key>sourceSize</key>
                <string>{107,112}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,841},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{105,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,106}}</string>
                <key>sourceSize</key>
                <string>{105,106}</string>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,739},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>scrollerBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,552},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>set.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,864},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,567},{56,48}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{56,48}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,625},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{586,487}}</string>
                <key>sourceSize</key>
                <string>{586,489}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e82f1ab1b4279f686184d876c0c0625$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
